body {
    background-color: transparent;
    background-image:
    radial-gradient(circle at 100% 150%, pink 24%, lightblue 24%, lightblue 28%, pink 28%, pink 36%, lightblue 36%, lightblue 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, pink 24%, lightblue 24%, lightblue 28%, pink 28%, pink 36%, lightblue 36%, lightblue 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, white 10%, lightgreen 10%, lightgreen 23%, lightblue 23%, lightblue 30%, pink 30%, pink 43%, lightblue 43%, lightblue 50%, pink 50%, pink 63%, lightblue 63%, lightblue 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, white 5%, lightgreen 5%, lightgreen 15%, lightblue 15%, lightblue 20%, pink 20%, pink 29%, lightblue 29%, lightblue 34%, pink 34%, pink 44%, lightblue 44%, lightblue 49%, transparent 49%, transparent),
    radial-gradient(circle at 0    50%, white 5%, lightgreen 5%, lightgreen 15%, lightblue 15%, lightblue 20%, pink 20%, pink 29%, lightblue 29%, lightblue 34%, pink 34%, pink 44%, lightblue 44%, lightblue 49%, transparent 49%, transparent);
    background-size: 100px 50px;
    overflow-x: hidden; 
}

.DébutSite {
    height: 99vh;
    width: 100vw;
}

.theatre {
    background-image: url(image/théatre.jpg);
    background-size: cover;
    width: 100vw;
    margin-left: -10px;
    margin-right: 20px;
}

.Bonjour {
    height: 100px;
    width: 100vh;
}

.Axe {
    height: 100px;
    width: 50vw;
    margin-left: 25vw;
    margin-right: 25vw;
}

.trans {
    margin-left: 19vw;
    margin-right: 21vw;
    margin-top: -15.5px;
    height: 100px;
    width: 60vw;
    background-image: url(image/RyukFond.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.trans2 {
    margin-left: 19vw;
    margin-right: 21vw;
    margin-top: -15.5px;
    height: 100px;
    width: 60vw;
}

.FBlanc {
    background-image: url(image/théatre2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    margin-left: -10px;
}

.ABCD {
    color: red;
    text-align: center;
}

.ABCD2 {
    color:white;
    text-align: center;
}

h1{
    font-size: 40px;
    text-align: center;
    width: 40vw;
}

h4 {
    font-family: 'ohthehorror';
}

.miroir {
/* axe Y */
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
/* axe X */
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
/* rest */
    font-size: 40px;
    width: 40vw;
    text-align: center;
    color: rgba(27, 27, 27, 0.733);
    grid-column: 4 / 7;
    grid-row: 3;
}

.conteneur {
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(19, 6.6vh);
    background: 
    linear-gradient(63deg,grey 23%, transparent 23%) 7px 0,
    linear-gradient(63deg, transparent 74%, grey 78%),
    linear-gradient(63deg, transparent 34%, grey 38%, grey 58%, transparent 62%),
    white;
    background-size: 16px 48px;
}
.titre {
    grid-column: 4 / 7;
    grid-row: 1;
}
.left {
    grid-column: 2 / 5;
    grid-row: 5 / 15;
}
.portrait {
    width: 40vw;
    height: 95.7vh;
}
.mot1 {
    grid-column: 7 / 8;
    grid-row: 6;
    font-size: 30px;
    animation: -croissant 10s linear 2s infinite normal none;
}
.mot2 {
    grid-column: 8 / 9;
    grid-row: 10;
    font-size: 30px;
    animation: -moveX 10s linear 2s infinite normal none;
}
.mot3 {
    grid-column: 7 / 8;
    grid-row: 14;
    font-size: 30px;
    animation: -decroissant 10s linear 2s infinite normal none;
}

.conteneur2 {
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(19, 6.6vh);
    background: 
    linear-gradient(70deg, rgb(92, 91, 91) 23%, transparent 23%) 7px 0,
    linear-gradient(70deg, transparent 74%, rgb(92, 91, 91) 78%),
    linear-gradient(70deg, transparent 34%, rgb(92, 91, 91) 38%, rgb(92, 91, 91) 58%, transparent 62%),
    white;
    background-size: 16px 48px;
}
.right {
    grid-column: 6 / 9;
    grid-row: 5 / 15;
}
.mot1by {
    grid-column: 3 / 4;
    grid-row: 6;
    font-size: 30px;
    animation: decroissant 4s linear 10s infinite normal none;
}
.mot2by {
    grid-column: 2 / 3;
    grid-row: 10;
    font-size: 30px;
    animation: moveX 4s linear 10s infinite normal none;
}
.mot3by {
    grid-column: 3 / 4;
    grid-row: 14;
    font-size: 30px;
    animation: croissant 4s linear 10s infinite normal none;
}

.conteneur3 {
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(19, 6.6vh);
    background: 
    linear-gradient(77deg,rgb(46, 46, 46) 23%, transparent 23%) 7px 0,
    linear-gradient(77deg, transparent 74%, rgb(46, 46, 46) 78%),
    linear-gradient(77deg, transparent 34%, rgb(46, 46, 46) 38%, rgb(46, 46, 46) 58%, transparent 62%),
    white;
    background-size: 16px 48px;
}

.conteneur4 {
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(19, 6.6vh);
    background: 
    linear-gradient(91deg,black 23%, transparent 23%) 7px 0,
    linear-gradient(91deg, transparent 74%, black 78%),
    linear-gradient(91deg, transparent 34%, black 38%, black 58%, transparent 62%),
    white;
    background-size: 16px 48px;
}

.conteneur5 {
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(25, 6.6vh);
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.imagefinale {
    transform: rotate(45deg);
    grid-column: 4 / 8;
    grid-row: 8 / 19;
    width: 40vw;
    height: 95.7vh;
    animation: pendule 5s linear infinite
}

.flamme {
    transform: rotate(45deg);
    grid-column: 3 / 8;
    grid-row: 16 / 19;
    width: 40vw;
    margin-left: -30px;
    margin-top: -27.5px;
    animation: pendule 5s linear infinite
}

.blanc {
    color: white;
}

#decroche {}

@font-face {
    font-family: 'ohthehorror';
    src: url('../fonts/ohthehorror.woff2') format('woff2'), url('../fonts/ohthehorror.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes pendule {
    0%, 100%{
        transform: rotate(45deg)
    }
    25%{
        transform: rotate(42deg)
    }
    75%{
        transform: rotate(45.5deg)
    }
}

@keyframes croissant {
    0% {
        transform: translate(-2px, 2px);
    }
    12.5% {
        transform: translate(2px, -2px);
    }
    25% {
        transform: translate(-2px, 2px);
    }
    37.5% {
        transform: translate(2px, -2px);
    }
    50% {
        transform: translate(-2px, 2px);
    }
    62.5% {
        transform: translate(2px, -2px);
    }
    75% {
        transform: translate(0px, 0px);
    }
    87.5% {
        transform: translate(500px, -500px);
    }
    100% {
        transform: translateX(0px, 0px);
    }
}

@keyframes -croissant {
    0% {
        transform: translate(2px, -2px);
    }
    12.5% {
        transform: translate(-2px, 2px);
    }
    25% {
        transform: translate(2px, -2px);
    }
    37.5% {
        transform: translate(-2px, 2px);
    }
    50% {
        transform: translate(2px, -2px);
    }
    62.5% {
        transform: translate(-2px, 2px);
    }
    75% {
        transform: translate(0px, 0px);
    }
    87.5% {
        transform: translate(-500px, 500px);
    }
    100% {
        transform: translateX(0px, 0px);
    }
}

@keyframes decroissant {        
    0% {
        transform: translate(-2px, -2px);
    }
    12.5% {
        transform: translate(2px, 2px);
    }
    25% {
        transform: translate(-2px, -2px);
    }
    37.5% {
        transform: translate(2px, 2px);
    }
    50% {
        transform: translate(-2px, -2px);
    }
    62.5% {
        transform: translate(2px, 2px);
    }
    75% {
        transform: translate(0px, 0px);
    }
    87.5% {
        transform: translate(500px, 500px);
    }
    100% {
        transform: translateX(0px, 0px);
    }
}

@keyframes -decroissant {
    0% {
        transform: translate(2px, 2px);
    }
    12.5% {
        transform: translate(-2px, -2px);
    }
    25% {
        transform: translate(2px, 2px);
    }
    37.5% {
        transform: translate(-2px, -2px);
    }
    50% {
        transform: translate(2px, 2px);
    }
    62.5% {
        transform: translate(-2px, -2px);
    }
    75% {
        transform: translate(0px, 0px);
    }
    87.5% {
        transform: translate(-500px, -500px);
    }
    100% {
        transform: translateX(0px, 0px);
    }
}

@keyframes moveX {
    0% {
        transform: translateX(-2px);
    }
    12.5% {
        transform: translateX(2px);
    }
    25% {
        transform: translateX(-2px);
    }
    37.5% {
        transform: translateX(2px);
    }
    50% {
        transform: translateX(-2px);
    }
    62.5% {
        transform: translateX(2px);
    }
    75% {
        transform: translateX(0px);
    }
    87.5% {
        transform: translateX(700px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes -moveX {
    0% {
        transform: translateX(-2px);
    }
    12.5% {
        transform: translateX(-2px);
    }
    25% {
        transform: translateX(2px);
    }
    37.5% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(2px);
    }
    62.5% {
        transform: translateX(-2px);
    }
    75% {
        transform: translateX(0px);
    }
    87.5% {
        transform: translateX(-700px);
    }
    100% {
        transform: translateX(0px);
    }
}